<ion-content >
  <div class="padding">
    
    <div class="logo">
      <ion-icon color="light" name="sunny"></ion-icon>
      <!-- <img src="../../assets/logo.png"> -->
    </div>

    <form> 
    <ion-item >
      <ion-label color="light" position="floating">Nom</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Prenom</ion-label>
      <ion-input type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Email</ion-label>
      <ion-input type="text" #email required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light" position="floating">Mot de passe</ion-label>
      <ion-input color="light" #password type="password" required></ion-input>
    </ion-item>
    <br>

    <ion-button color="light" expand="block" shape="round" fill="outline" (click)="signUp(email, password)">Valider</ion-button>
    </form> 
    <br>
    <ion-item lines="none">
      <ion-label color="light" text-center>Déjà inscris?</ion-label>
    </ion-item>
    <ion-button color="tertiary" expand="block" shape="round" routerLink="/connexion">Connexion</ion-button>

  </div>
</ion-content>