<ion-content>

    <div class="header">
      <h2>EventHub! </h2>

      <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios">19</ion-badge>
          <p>Etoiles</p>
        </div>

        <div class="followings">
          <ion-badge color="primary" mode="ios">05</ion-badge>
          <p>Evénéments</p>
        </div>
      </div>

    </div>
    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img src=".../../assets/rasht.png">
          </div>
        </div>
      </div>
    </div>

    <h2 class="recent">Profil</h2>

    <ion-card class="card" *ngIf="authService.userData as user">
      <ion-card-content class="ion-text-left">
        
        <ion-card-title class="title">{{user.nom}} {{user.prenom}}</ion-card-title>
        <ion-card-subtitle>{{user.email}}</ion-card-subtitle>
        
      </ion-card-content>
    </ion-card>

    <ion-button color="tertiary" expand="block" shape="round" (click)="deconnexion()">Déconnexion</ion-button>

</ion-content>

