<ion-content>

    <div class="header">
      <h2>{{user.email}} </h2>

      <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios">42</ion-badge>
          <p>Likes</p>
        </div>

        <div class="followings">
          <ion-badge color="primary" mode="ios">102</ion-badge>
          <p>Evénéments</p>
        </div>
      </div>

    </div>
    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img src=".../../assets/rasht.png">
          </div>
        </div>
      </div>
    </div>

    <h2 class="recent">Profil</h2>

    <ion-card class="card">
      <ion-card-content class="ion-text-left">
        
        <ion-card-title class="title">Nom et Prénom</ion-card-title>
        <ion-card-subtitle>Email</ion-card-subtitle>
        
      </ion-card-content>
    </ion-card>

    <ion-button color="tertiary" expand="block" shape="round" (click)="deconnexion()">Déconnexion</ion-button>

</ion-content>

