<ion-content>

    <div class="header">
      <h2>Amédée DERA</h2>

      <div class="space-between">
        <div class="followings">
          <ion-badge color="primary" mode="ios">42</ion-badge>
          <p>Likes</p>
        </div>

        <div class="followings">
          <ion-badge color="primary" mode="ios">102</ion-badge>
          <p>Evénéments</p>
        </div>
      </div>

    </div>
    <div class="flex">
      <div class="border-blue">
        <div class="border-white">
          <div class="img-box">
            <img src="https://pbs.twimg.com/media/EFfmFEEU8AA1SmA?format=jpg&name=medium">
          </div>
        </div>
      </div>
    </div>

    <ion-card>
        <ion-item lines="none">
          <ion-avatar slot="start">
            <img src="https://pbs.twimg.com/media/EFfmFEEU8AA1SmA?format=jpg&name=medium" />
          </ion-avatar>
          <ion-label>
            <h2><b>Elon Musk</b></h2>
            <p>Il y a 14 heures</p>
          </ion-label>
        </ion-item>
        <ion-item lines="none" class="tweet">
          <ion-label text-wrap>Production version will be a lot more polished than this prototype, but still fun to see</ion-label>
        </ion-item>
        <ion-button size="small" fill="clear" (click)="onClick()">
          <ion-icon slot="start" name="text"></ion-icon> 34
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onClick()">
          <ion-icon slot="start" name="repeat"></ion-icon> 116
        </ion-button>
        <ion-button size="small" fill="clear" (click)="onClick()">
          <ion-icon slot="start" name="heart-empty"></ion-icon> 210
        </ion-button>
    </ion-card>

    <ion-button color="tertiary" expand="block" shape="round" routerLink="/connexion">Déconnexion</ion-button>

</ion-content>

