.header {
  background-color: #2196F3;
  height: 180px;
  padding-top: 1px;
}

.header h2 {
  color: white;
  font-weight: bold;
  text-align: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
  padding: 10px 10px 0px 10px;
}

.followings {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.followings p {
  color: white;
  margin: 8px 0px 0px 0px;
}




.img-box {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  overflow: hidden;
}

.border-white {
  border: 4px solid white;
  border-radius: 50%;
  width: fit-content;
}

.border-blue {
  border: 7px solid #006bbf;
  border-radius: 50%;
  width: fit-content;
}

.flex {
  display: flex;
  justify-content: center;
  margin-top: -76px;
}


.tweet {
  margin-top: -10px;
}

.tweet ion-label {
  line-height: 1 !important;
  font-size: 15px;
  margin: 6px 0px 6px 0px !important;
  min-height: 34px;
}

.tweet-img {
  width: 95%;
  margin-left: 2.5%;
  border-radius: 10px;
}

i {
  color: #2196F3;
  font-weight: 800;
}

.recent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

ion-item {
  --background: rgba(248, 248, 250, .96);

  h2 {
    font-weight: bold;
    font-size: 18px;
    padding-top: 8px;
  }

}

ion-content {
  --background: #f8f8fa;
}

ion-searchbar {
  --box-shadow: none;
  --border-radius: 12px;
}

.more {
  font-size: 12px;
  color: #FB4E4E;
}

.title {
  font-size: 16px;
}

.card {
  margin: 0;
  margin-right: 50px;
  width: 80%;
  box-shadow: none;
  border-radius: 14px;
}


.category {
  width: 100%;
  box-shadow: none;
  border-radius: 14px;
}


ion-card-content {
  .img-wrapper {
    border-radius: 14px;
    height: 200px;
    overflow: hidden;
    margin-bottom: 8px;
  }

  ion-icon {
    color: #f2994a;
    padding-right: 4px;
  }

  ion-card-subtitle:last-of-type {
    padding-top: 6px;
  }

}

ion-card-header {
  ion-icon {
    font-size: 60px;
  }

  ion-card-title {
    font-size: 22px;
    font-weight: bolder;
  }
}

.wrapper {
  padding-bottom: 0;
}

ion-badge {
  padding: 10px;
  font-size: 14px;
}