<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="/tabs/event"></ion-back-button>
    </ion-buttons>
    <ion-title>Nouveau</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="padding">
    
    <div class="logo">
      <ion-icon color="light" name="sunny"></ion-icon>
    </div>
    <form [formGroup]="addnewform" (ngSubmit)="doAddnew()" novalidate>
    <ion-item >
      <ion-label color="light" position="floating">Libellé</ion-label>
      <ion-input [formControl]="addnewform.controls['libel']" type="text" required></ion-input>
       <!-- <div *ngIf="addnewform.controls['producttitle'].dirty && !addnewform.controls['producttitle'].valid">
            <p *ngIf="addnewform.controls['producttitle'].errors">Product title must be minimum 6 characters</p>
          </div> -->
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Description</ion-label>
      <ion-textarea [formControl]="addnewform.controls['description']" type="text" required></ion-textarea>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Date</ion-label>
      <ion-input [formControl]="addnewform.controls['date']" type="date" placeholder="" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Heure</ion-label>
      <ion-input [formControl]="addnewform.controls['heure']" type="time" placeholder="" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Lieu</ion-label>
      <ion-input [formControl]="addnewform.controls['lieu']" type="text" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Prix de participation</ion-label>
      <ion-input [formControl]="addnewform.controls['prix']" type="number" min="0" max="999999" required></ion-input>
    </ion-item>

    <br>

    <ion-button color="primary" [disabled]="!addnewform.valid"
    color="light" expand="block" shape="round" fill="outline" routerLink="/tabs/event">Publier l'événement</ion-button>
    <br>

  </div>
</ion-content>