<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="/tabs/event"></ion-back-button>
    </ion-buttons>
    <ion-title>Modification</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
  <div class="padding">
    
    <div class="logo">
      <ion-icon color="light" name="star"></ion-icon>
    </div>

    <form>
    <ion-item >
      <ion-label color="light" position="floating">Libellé</ion-label>
      <ion-input type="text" #libel name="libel"  value="{{event?.libel}}" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Description</ion-label>
      <ion-textarea type="text" #description name="description" value="{{event?.description}}" required></ion-textarea>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Date</ion-label>
      <ion-input type="date" #date name="date" value="{{event?.date}}" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Heure</ion-label>
      <ion-input type="time" #time name="time" value="{{event?.heure}}" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Lieu</ion-label>
      <ion-input type="text" #lieu name="lieu" value="{{event?.lieu}}" required></ion-input>
    </ion-item>

    <ion-item >
      <ion-label color="light" position="floating">Prix de participation</ion-label>
      <ion-input type="number" #prix name="prix"  value="{{event?.prix}}" min="0" max="999999" required></ion-input>
    </ion-item>

    <ion-item >
        <ion-label color="light" position="floating">Organisateur</ion-label>
        <ion-input #organisateur name="organisateur" value="{{event?.organisateur}}" type="text" ></ion-input>
      </ion-item>

    <br>

    <ion-button (click)="upda(libel, description, date, heure, lieu, prix, organisateur)" type="submit"
    color="light" expand="block" shape="round" fill="outline" >Valider les modifications</ion-button>
    <br>
    </form>
    

  </div>
</ion-content>