<ion-content [fullscreen]="true" class="content">
    <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <br> <br>

  <ion-searchbar 
    showcancelbutton=""
    (ionInput)="filterList($event)"
  ></ion-searchbar>

  <!-- <ion-button color="tertiary" expand="block" shape="round">Rechercher</ion-button> -->

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide *ngFor="let event of events">
            <ion-card class="card">
              <ion-card-content class="ion-text-left" [routerLink]="['/event-detail/', event.id]">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">{{ event.libel}}</ion-card-title>
                <ion-card-subtitle>{{event.date}} -- {{event.lieu}}</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

