<ion-content [fullscreen]="true">
  <ion-list class="liste">
    <ion-card>
      <img src="./cover.jpg" />
      <ion-card-header>
        <ion-card-subtitle>date et heure</ion-card-subtitle>
        <ion-card-title>titre de l'événement</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <p>lieu de déroulement</p>
        <ion-item>
          <ion-button size="small" fill="clear" (click)="onClick()" color="danger">
            <ion-icon name="heart-outline"></ion-icon>
            <ion-badge color="danger">2</ion-badge></ion-button>
          <ion-button size="small" fill="clear" (click)="onClick()" color="warning">
            <ion-icon name="repeat-outline"></ion-icon>
            <ion-badge color="warning">3</ion-badge></ion-button>
        </ion-item>
        <ion-button fill="outline" size="small" color ="tertiary" routerLink="/event-detail">Détails</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
