<ion-header class="ion-no-border">
  <ion-item lines="none">
    <!-- <ion-avatar slot="end">
      <img src="https://yt3.ggpht.com/a-/AOh14GjThP6xpdHXuwV9tVt7wMvBIytCfvZm4N_BkN1MrA=s288-c-k-c0xffffffff-no-rj-mo">
    </ion-avatar> -->
    <ion-label>
      <h2>EventHub</h2>
      <p>Enjoy!</p>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding wrapper">

  <!-- <ion-searchbar></ion-searchbar> -->

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-baseline">
      <ion-col size="6">
        <h4 class="title">
          Les plus poppulaires cette semaine
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4 class="more ion-text-end">
          Voir plus
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">Libellé de l'évènement</ion-card-title>
                <ion-card-subtitle>Date -- Lieu</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/793759/pexels-photo-793759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                
                <ion-card-title class="title">Festi Lucha</ion-card-title>
                <ion-card-subtitle>05-06 Avril -- Ouaga</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/1291712/pexels-photo-1291712.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                
                <ion-card-title class="title">AfroPolitan</ion-card-title>
                <ion-card-subtitle>17 Avril -- Ouaga</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

          <ion-slide>
            <ion-card class="card">
              <ion-card-content class="ion-text-left">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/1624487/pexels-photo-1624487.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                </div>
                
                <ion-card-title class="title">72h de l'IBAM</ion-card-title>
                <ion-card-subtitle>03-05 Mai -- Ouaga</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                  <ion-icon name="star-outline"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding-horizontal wrapper">
  
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Explorer par catégories
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            Afficher tout
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    </div>
  
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="categories">
  
            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src=""></ion-icon>
                  <ion-card-title>Familial</ion-card-title>
                  <ion-card-subtitle>Sortie détente en famille</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="primary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/cocktail.svg"></ion-icon>
                  <ion-card-title>Mariage</ion-card-title>
                  <ion-card-subtitle>Cérémonies et receptions</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="warning">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/burger.svg"></ion-icon>
                  <ion-card-title>Cinéma</ion-card-title>
                  <ion-card-subtitle>Sortie chill entre amis</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="success">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/pizza.svg"></ion-icon>
                  <ion-card-title>Kermesse</ion-card-title>
                  <ion-card-subtitle>Ecoles, universités...</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="tertiary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/taco.svg"></ion-icon>
                  <ion-card-title>Conférence</ion-card-title>
                  <ion-card-subtitle>Colloques, show-up,...</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding-horizontal wrapper">
    
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-baseline">
          <ion-col size="6">
            <h4 class="title">
              Evènements qui pourraient vous intéressés
            </h4>
          </ion-col>
          <ion-col size="6">
            <h4 class="more ion-text-end">
              Voir plus
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      </div>
    
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-slides [options]="options">
    
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
    
                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/109275/pexels-photo-109275.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">Some Awesome Title</ion-card-title>
                    <ion-card-subtitle>Some description here</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
    
                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/616840/pexels-photo-616840.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">Some Awesome Title</ion-card-title>
                    <ion-card-subtitle>Some description here</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
              <ion-slide>
                <ion-card class="card">
                  <ion-card-content class="ion-text-left">
    
                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/1437629/pexels-photo-1437629.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">Some Awesome Title</ion-card-title>
                    <ion-card-subtitle>Some description here</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half"></ion-icon>
                    </ion-card-subtitle>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      <div class="ion-padding">
        <ion-row>
          <ion-col size="6">
            <ion-badge color="light" class="ion-margin-end">
              Habib Dev.
            </ion-badge>
          </ion-col>
          <ion-col size="6" class="ion-text-end">
            <ion-badge color="light">
              habib.al-mawali.com
            </ion-badge>
          </ion-col>
        </ion-row>
      </div>
</ion-content>
