<ion-header class="ion-no-border">
  <ion-item lines="none">
    <ion-label>
      <h2>EventHub</h2>
      <p>Enjoy!</p>
    </ion-label>
  </ion-item>
</ion-header>
<ion-content [fullscreen]="true">
  <div class="ion-padding wrapper">

  <ion-grid class="ion-no-padding">
    <ion-row class="ion-align-items-baseline">
      <ion-col size="6">
        <h4 class="title">
          Les plus poppulaires cette semaine
        </h4>
      </ion-col>
      <ion-col size="6">
        <h4 class="more ion-text-end">
          Voir plus
        </h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  </div>

  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12">
        <ion-slides [options]="options">

          <ion-slide *ngFor="let event of Events">
            <ion-card class="card">
              <ion-card-content class="ion-text-left" [routerLink]="['/event-detail/', event.id]">

                <div class="img-wrapper">
                  <ion-img src="https://images.pexels.com/photos/793759/pexels-photo-793759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                </div>
                
                <ion-card-title class="title">{{event.libel}}</ion-card-title>
                <ion-card-subtitle>{{event.date}} -- {{event.lieu}}</ion-card-subtitle>
                <ion-card-subtitle>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star"></ion-icon>
                  <ion-icon name="star-half"></ion-icon>
                </ion-card-subtitle>
              </ion-card-content>
            </ion-card>
          </ion-slide>

        </ion-slides>
      </ion-col>
    </ion-row>
  </ion-grid>


  <div class="ion-padding-horizontal wrapper">
  
    <ion-grid class="ion-no-padding">
      <ion-row class="ion-align-items-baseline">
        <ion-col size="6">
          <h4 class="title">
            Explorer par catégories
          </h4>
        </ion-col>
        <ion-col size="6">
          <h4 class="more ion-text-end">
            Afficher tout
          </h4>
        </ion-col>
      </ion-row>
    </ion-grid>
  
    </div>
  
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col size="12">
          <ion-slides [options]="categories">
  
            <ion-slide>
              <ion-card class="category" color="danger">
                <ion-card-header class="ion-text-center">
                  <ion-icon src=""></ion-icon>
                  <ion-card-title>Familial</ion-card-title>
                  <ion-card-subtitle>Sortie détente en famille</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="primary">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/cocktail.svg"></ion-icon>
                  <ion-card-title>Mariage</ion-card-title>
                  <ion-card-subtitle>Cérémonies et receptions</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

            <ion-slide>
              <ion-card class="category" color="warning">
                <ion-card-header class="ion-text-center">
                  <ion-icon src="assets/burger.svg"></ion-icon>
                  <ion-card-title>Cinéma</ion-card-title>
                  <ion-card-subtitle>Sortie chill entre amis</ion-card-subtitle>
                </ion-card-header>
              </ion-card>
            </ion-slide>

          </ion-slides>
        </ion-col>
      </ion-row>
    </ion-grid>

    <div class="ion-padding-horizontal wrapper">
    
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-align-items-baseline">
          <ion-col size="6">
            <h4 class="title">
              Evènements qui pourraient vous intéressés
            </h4>
          </ion-col>
          <ion-col size="6">
            <h4 class="more ion-text-end">
              Voir plus
            </h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    
      </div>
    
      <ion-grid class="ion-no-padding">
        <ion-row>
          <ion-col size="12">
            <ion-slides [options]="options">
    
               <ion-slide *ngFor="let event of Events">
                <ion-card class="card">
                  <ion-card-content class="ion-text-left" [routerLink]="['/event-detail/', event.id]">

                    <div class="img-wrapper">
                      <ion-img src="https://images.pexels.com/photos/793759/pexels-photo-793759.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260"></ion-img>
                    </div>
                    
                    <ion-card-title class="title">{{event.libel}}</ion-card-title>
                    <ion-card-subtitle>{{event.date}} -- {{event.lieu}}</ion-card-subtitle>
                    <ion-card-subtitle>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star"></ion-icon>
                      <ion-icon name="star-half"></ion-icon>
                    </ion-card-subtitle>
                    <br>
                  </ion-card-content>
                </ion-card>
              </ion-slide>
    
            </ion-slides>
          </ion-col>
        </ion-row>
      </ion-grid>

</ion-content>
