<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src=".../../assets/rasht.png" />
    <ion-card-header>
      <ion-card-subtitle>{{event?.date}} {{event?.heure}}</ion-card-subtitle>
      <ion-card-title>{{event?.libel}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{event?.description}}</p>
      <br>
      <p>Prix: {{event?.prix}} franc CFA</p>
      <br>
      <p>{{event?.lieu}}</p>
      <br>
      <h2>Organisateur</h2>
      <p>{{event?.organisateur}}</p>
      <ion-button size="small" fill="clear" color="danger">
        <ion-icon name="heart-outline"></ion-icon>
        <ion-badge color="danger">2</ion-badge></ion-button>
      <ion-button size="small" fill="clear" color="warning">
        <ion-icon name="repeat-outline"></ion-icon>
        <ion-badge color="warning">3</ion-badge></ion-button>

    </ion-card-content>
  </ion-card>
  
</ion-content>
