<ion-header translucent="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button text="" icon="arrow-back" defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
    <ion-title>Détails</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-refresher class="refresh" slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="chevron-down-circle-outline"
      pullingText="Pull to refresh"
      refreshingSpinner="circles"
      refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card class="card">
    <div class="img-wrapper">
      <ion-img  src="https://images.pexels.com/photos/315755/pexels-photo-315755.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500"></ion-img>
    </div>
    <ion-card-header>
      <ion-card-subtitle>{{event?.date}} {{event?.heure}} <strong>{{event?.lieu}}</strong></ion-card-subtitle>
      <ion-card-title class="title">{{event?.libel}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>{{event?.description}}</p>
      <br>
      <p> <strong>Prix:</strong> {{event?.prix}} franc CFA</p>
      <br>

      <h2><u>Organisateur : </u><strong> {{event?.organisateur}}</strong> </h2>

      <ion-button size="small" fill="clear" color="warning">
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
      </ion-button>

    </ion-card-content>
  </ion-card>
  
</ion-content>
