<ion-content >
  <div class="padding">
    
    <div class="logo">
      <ion-icon color="light" name="cloudy-night"></ion-icon>
      <!-- <img src="../../assets/logo.png"> -->
    </div>

    <form>
    <ion-item >
      <ion-label color="light">Email</ion-label>
      <ion-input #email color="light" type="mail" placeholder="Adresse email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label color="light">Mot de passe</ion-label>
      <ion-input #password color="light" type="password" placeholder="Mot de passe"></ion-input>
    </ion-item>

    <ion-item lines="none">
      <ion-button color="light" slot="end" fill="clear">Mot de passe oublié ?</ion-button>
    </ion-item>

    <ion-button (click)="logIn(email, password)" color="light" expand="block" shape="round" fill="outline">Connexion</ion-button>
    </form>
    <br>
    <ion-button color="tertiary" expand="block" shape="round" routerLink="/inscription">Inscription</ion-button>

    <ion-item lines="none">
      <ion-label color="light" text-center>Ou connectez-vous avec</ion-label>
    </ion-item>
    
    <div class="flex">
      <ion-button color="facebook" shape="round">
        <ion-icon slot="start" name="logo-facebook"></ion-icon>
        Facebook
      </ion-button>
      <ion-button color="google" color="youtube" shape="round">
        <ion-icon slot="start" name="logo-google"></ion-icon>
        Google
      </ion-button>
    </div>

  </div>
</ion-content>