.padding {
  padding: 5% !important;
}

.logo ion-icon {
  font-size: 9em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo img {
  height: 100px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo {
  position: relative;
  height: 250px;
}

ion-content {
  --ion-background-color: linear-gradient(#6DD5FA, #2980B9);
  //--ion-background-color: linear-gradient(#f5af19, #f12711);
  //--ion-background-color: linear-gradient(#485563, #29323c);
}

ion-item {
  --ion-background-color: transparent !important;
}

.flex {
  display: flex;
  justify-content: space-between;
}