<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="/slide-1.png" />
        <h2>Bienvenue 👋 </h2>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="/slide-2.png" />
      <p>Vous rechercher une manière<b>fiable, intuitif et efficace</b>
        pour créer et publier vos annonces?</p>
    </ion-slide>

  <ion-slide>
      <img src="/slide-2.png" />
      <p>Ou bien vous chercher tout simplement une application<b>qui recense les événements</b>
        ?</p>
    </ion-slide>

    <ion-slide>
      <img src="/slide-4.png" />
      <p>Vous êtes au bon endroit</p>
      <ion-button fill="clear" routerLink ="/tabs">Continuer 😍 <ion-icon slot="end" name="arrow-forward"></ion-icon>
      </ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>